.About{
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vh; 
}
.about-image{
    height: 40vh;
    width: 40%;
    border-radius: 20px;
    /* border: #49BAF5 solid 2px; */
}
.image-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.brand-statement{
    width: 50%;
}
.styled-button{
    background-color: #49BAF5;
    color: white;
    border: none;
    border-radius: 12px;
    width: 10vw;
    height:8vh;
    font-weight: bold;
}
.small-styled-button{
    background-color: #49BAF5;
    color: red;
    border: none;
    border-radius: 12px;
    width: 5vw;
    height:4vh;
    font-weight: bold;
}
.button-container{
    margin-top: 5vh;
    width: 25%;
    display: flex;
    justify-content: space-around;
}
.small-styled-button:hover, .styled-button:hover{
    transform: scale(1.2);
}
