.Footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    background-color: rgb(230, 25, 42);
}
.container{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-around;
}
.footer-notes{
    color: goldenrod;
}